/********** Template CSS **********/
:root {
    --primary: #358e57;
    --secondary: #000000;
    --light: #EFF5F9;
    --dark: #1D2A4D;
}

.btn {
    font-weight: 700;
    transition: .5s;
}

.btn:hover {
    -webkit-box-shadow: 0 8px 6px -6px #555555;
    -moz-box-shadow: 0 8px 6px -6px #555555;
    box-shadow: 0 8px 6px -6px #555555;
}

.btn-primary {
    background-color: var(--primary);
    color: #FFFFFF;
}

.btn-square {
    width: 36px;
    height: 36px;
}

.btn-sm-square {
    width: 28px;
    height: 28px;
}

.btn-lg-square {
    width: 46px;
    height: 46px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 30px;
    bottom: 0;
    border-radius: 50% 50% 0 0;
    z-index: 99;
}

.navbar-light .navbar-nav .nav-link {
    font-family: 'Jost', sans-serif;
    position: relative;
    margin-left: 30px;
    padding: 30px 0;
    font-size: 18px;
    font-weight: 700;
    color: var(--dark);
    outline: none;
    transition: .5s;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--primary);
}

@media (min-width: 992px) {
    .navbar-light .navbar-nav .nav-link::before {
        position: absolute;
        content: "";
        width: 0;
        height: 5px;
        bottom: 0;
        left: 50%;
        background: var(--light);
        transition: .5s;
    }

    .navbar-light .navbar-nav .nav-link:hover::before,
    .navbar-light .navbar-nav .nav-link.active::before {
        width: 100%;
        left: 0;
    }
}

@media (max-width: 991.98px) {
    .navbar-light .navbar-nav .nav-link  {
        margin-left: 0;
        padding: 10px 0;
    }
}

.hero-header {
    background: url(../img/hero.jpg) top right no-repeat;
    background-size: cover;
}

.service-item {
    position: relative;
    height: 350px;
    padding: 0 30px;
    /* transition: .5s; */
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.service-item .service-icon {
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: var(--primary);
    border-radius: 50%; */
    /* transform: rotate(-14deg); */
}

.service-item .service-icon i {
    transform: rotate(15deg);
}

.service-item a.btn {
    position: absolute;
    width: 60px;
    bottom: -48px;
    left: 50%;
    margin-left: -30px;
    opacity: 0;
}

.service-item:hover {
    transform: scale(1.05);
    box-shadow: 0 15px 35px rgba(0,0,0,0.2) !important;
}

.service-item:hover .img-program {
    transform: scale(1.1);
}

.img-program {
    transition: transform 0.3s ease-in-out;
}

.service-item:hover a.btn {
    bottom: -24px;
    opacity: 1;
}

.price-carousel::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 50%;
    bottom: 0;
    left: 0;
    background: var(--primary);
    border-radius: 8px 8px 50% 50%;
    z-index: -1;
}

.price-carousel .owl-nav {
    margin-top: 35px;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
}

.price-carousel .owl-nav .owl-prev,
.price-carousel .owl-nav .owl-next{
    position: relative;
    margin: 0 5px;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary);
    background: #FFFFFF;
    font-size: 22px;
    border-radius: 45px;
    transition: .5s;
}

.price-carousel .owl-nav .owl-prev:hover,
.price-carousel .owl-nav .owl-next:hover {
    color: var(--dark);
}

@media (min-width: 576px) {
    .team-item .row {
        height: 320px;
    }
}

.team-carousel .owl-nav {
    position: absolute;
    padding: 0 45px;
    width: 100%;
    height: 45px;
    top: calc(50% - 22.5px);
    left: 0;
    display: flex;
    justify-content: space-between;
}

.team-carousel .owl-nav .owl-prev,
.team-carousel .owl-nav .owl-next {
    position: relative;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: var(--primary);
    border-radius: 45px;
    font-size: 22px;
    transition: .5s;
}

.team-carousel .owl-nav .owl-prev:hover,
.team-carousel .owl-nav .owl-next:hover {
    background: var(--dark);
}

.testimonial-carousel .owl-dots {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 20px;
    height: 20px;
    background: var(--light);
    border: 2px solid var(--primary);
    border-radius: 20px;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    width: 40px;
    height: 40px;
    background: var(--primary);
}

.testimonial-carousel .owl-item img {
    width: 150px;
    height: 150px;
}

.bg-primary {
    background-color: var(--primary) !important;
}

.text-primary {
    color: var(--primary) !important;
}

.img-program {
    max-width: 130px;
}

/* Reset */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    overflow-x:hidden;
}

/* Navbar */
.home-page .navbar{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    padding:25px 60px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    z-index:100;
    background:rgba(255,255,255,0.08);
    backdrop-filter:blur(4px);
    transition:background 0.4s ease;
}

.home-page .navbar.scrolled{
    /* background:#198754; hijau */
    background:rgba(25,135,84,0.95);
    backdrop-filter:blur(8px);
    box-shadow:0 2px 10px rgba(0,0,0,0.2);
}

.home-page .logo h2{
    color:#fff;
    font-size:2rem;
    font-weight:bold;
}

.home-page .navbar ul{
    display:flex;
    gap:35px;
    list-style:none;
}

.home-page .navbar a{
    color:#000000;
    text-decoration:none;
    font-size:1rem;
    font-weight:600;
}

/* Hero Section */
.hero{
    position:relative;
    width:100%;
    height:100vh;
    overflow:hidden;
}

.slide{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    opacity:0;
    transition:opacity 1.5s ease;
}

.slide.active{
    opacity:1;
    z-index:2;
}

.hero-bg{
    width:100%;
    height:100%;
    object-fit:cover;
}

.hero-content{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    z-index:3;
    text-align:center;
    color:white;
}

.hero-content h1{
    color:white;
    font-size:2.8rem;
    max-width:1200px;
    line-height:1.1;
    margin-bottom:30px;
}

.overlay{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0, 0, 0, 0.452);
}

.btn-berita{
    display:inline-block;
    background:#f7941d;
    color:white;
    text-decoration:none;
    padding:18px 45px;
    border-radius:10px;
    font-size:1.2rem;
    font-weight:600;
    transition:0.3s;
}

.btn-berita:hover{
    background:#df7f0d;
    color:rgb(179, 177, 177);
}

/* Tablet */
@media (max-width:992px){

    .navbar{
        padding:20px 30px;
    }

    .navbar ul{
        gap:20px;
    }

    .hero-content{
        padding:0 40px;
    }

    .hero-content h1{
        font-size:3rem;
    }
}

/* Mobile */
@media (max-width:768px){

    .navbar{
        flex-direction:column;
        gap:15px;
    }

    .navbar ul{
        flex-wrap:wrap;
        justify-content:center;
        gap:15px;
    }

    .hero{
        text-align:center;
    }

    .hero-content{
        padding:0 20px;
    }

    .hero-content h1{
        font-size:2rem;
        line-height:1.3;
    }

    .btn{
        padding:15px 30px;
        font-size:1rem;
    }
}

/* Mobile kecil */
@media (max-width:480px){

    .hero-content h1{
        font-size:1.6rem;
    }

    .logo h2{
        font-size:1.6rem;
    }
}

